<div>
    <h3>{{ item.id }}</h3>
    <div>{{ item.name}}</div>
    <div>{{ item.path}}</div>
    {#<a href="{{ asset(item.path) }}" target="_blank">#}
        {#<img src="{{ asset(item.path) }}">#}
    {#</a>#}
</div>